<!doctype html>
<html lang="en" ng-app="featureChooserApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="FeatureCtrl">

<div class="container">

  <p>Sort by:
    <select ng-model="orderProp">
      <option value="id">ID</option>
      <option value="displayName">Display Name</option>
    </select>

  <div class="row">
  <p>
    <div class="col-xs-2">
      <h4>Available Features</h4>
      Search: <input ng-model="query"></p>
<p>
      <select size="5"
              multiple
              ng-model="available"
              ng-options="feature as feature.displayName for feature in availibleFeatures | filter:query | orderBy:orderProp"
              style="width: 200px">

      </select></p>
    </div>

  </div>

</div>

</body>
</html>

