<!doctype html>
<html lang="en" ng-app="featureChooserApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="FeatureCtrl">

<div class="container">

  <p>Sort by:
    <select ng-model="orderProp">
      <option value="id">ID</option>
      <option value="displayName">Display Name</option>
    </select>

  <div class="row">

    <div class="col-xs-2">
      <h4>Available Features</h4>
      <p>
        <input ng-model="availableFeaturesQuery"
                     style="width: 200px"></p>
      <p>
      <select size="10"
              multiple
              ng-model="available"
              ng-options="feature as feature.displayName for feature in availibleFeatures | filter:availableFeaturesQuery | orderBy:orderProp"
              style="width: 200px">

      </select></p>
    </div>

    <div class="col-xs-1">
      <button type="button"
              class="btn btn-default, firstbutton"
              ng-click="moveItem(selected[0], availableFeatures, selectedFeatures)">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </button>
      <button type="button"
              class="btn btn-default, secondbutton"
              ng-click="moveItem(selected[0], selectedFeatures, availableFeatures)">
        <span class="glyphicon glyphicon-arrow-left"></span>
      </button>
    </div>

    <div class="col-xs-2">
      <h4>Required Features</h4>
      <p>
        <input ng-model="selectedFeaturesQuery"
                        style="width: 200px"></p>
      <p>
        <select size="10"
                multiple
                ng-model="selected"
                ng-options="feature as feature.displayName for feature in selectedFeatures | filter:selectedFeaturesQuery | orderBy:orderProp"
                style="width: 200px">

        </select></p>
    </div>




</div>

</body>
</html>

